In [35]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import os
import csv
from tqdm.notebook import tqdm
from datetime import datetime, timezone

In [22]:
# Create tqdm instance to display progress bar
folder_path = '/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone/archive/Data'
csv_files = os.listdir(folder_path)
progress_bar = tqdm(total=len(csv_files), desc='Processing CSV files')

Processing CSV files:   0%|          | 0/8 [00:00<?, ?it/s]

In [20]:
def count_lines_csv_in_folder(folder_path):
    line_counts = {}
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(folder_path, filename)
            line_count = count_lines_csv(file_path)
            line_counts[filename] = line_count
    return line_counts

def count_lines_csv(file_path):
    line_count = 0
    with open(file_path, 'r', encoding='utf-8') as file:
        for line in file:
            line_count += 1
    return line_count

folder_path = '/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone/archive/Data/Test'
line_counts = count_lines_csv_in_folder(folder_path)
for filename, count in line_counts.items():
    print(f"Number of lines in {filename}: {count}")
    
# Sum all the counts
total_count = sum(line_counts.values())
print("Total number of line items in all CSV files:", total_count)

Number of lines in ADTN.csv: 7462
Number of lines in ACIU.csv: 1891
Number of lines in ACIC.csv: 4126
Number of lines in A.csv: 6129
Number of lines in ADN.csv: 1306
Number of lines in ABCB.csv: 7519
Number of lines in ABVC.csv: 4879
Number of lines in AAGRW.csv: 2
Number of lines in ACHR.csv: 824
Number of lines in ADNT.csv: 1875
Number of lines in ACIW.csv: 7325
Number of lines in ACET.csv: 1554
Number of lines in ADM.csv: 11103
Number of lines in ABOS.csv: 691
Number of lines in ADI.csv: 11103
Number of lines in ADTH.csv: 742
Number of lines in ADBE.csv: 9483
Number of lines in ACDC.csv: 472
Number of lines in ACHV.csv: 7165
Number of lines in ACGL.csv: 7185
Number of lines in ACHC.csv: 7571
Number of lines in ADCT.csv: 974
Number of lines in ABNB.csv: 830
Number of lines in ABBV.csv: 2830
Number of lines in ABL.csv: 892
Number of lines in ABLLW.csv: 2
Number of lines in ACI.csv: 946
Number of lines in ABM.csv: 11103
Number of lines in ABEV.csv: 6813
Number of lines in AACT.csv: 201
Number of lines in AAT.csv: 3324
Number of lines in ACLX.csv: 540
Number of lines in ACONW.csv: 2
Number of lines in ACVA.csv: 760
Number of lines in AAU.csv: 4599
Number of lines in ADSK.csv: 9766
Number of lines in ABSI.csv: 677
Number of lines in ACN.csv: 5710
Number of lines in ADPT.csv: 1198
Number of lines in ACCD.csv: 943
Number of lines in ACNT.csv: 11103
Number of lines in ACNB.csv: 7551
Number of lines in ACBA.csv: 716
Number of lines in AAP.csv: 5621
Number of lines in AACG.csv: 4071
Number of lines in ACM.csv: 4252
Number of lines in ADEA.csv: 5128
Number of lines in ACOR.csv: 4564
Number of lines in AACI.csv: 599
Number of lines in ACV.csv: 2230
Number of lines in ABR.csv: 5029
Number of lines in ACA.csv: 1358
Number of lines in ACAC.csv: 414
Number of lines in ACLS.csv: 5968
Number of lines in ACACU.csv: 453
Number of lines in ACAB.csv: 518
Number of lines in AAMC.csv: 510
Number of lines in AAOI.csv: 2645
Number of lines in ACU.csv: 11103
Number of lines in ACB.csv: 2445
Number of lines in ACACW.csv: 2
Number of lines in ADIL.csv: 1428
Number of lines in ABG.csv: 5545
Number of lines in ACT.csv: 638
Number of lines in ACXP.csv: 695
Number of lines in ABT.csv: 11103
Number of lines in ACP.csv: 3315
Number of lines in ACON.csv: 487
Number of lines in ACABW.csv: 2
Number of lines in ACAD.csv: 4994
Number of lines in ABLVW.csv: 2
Number of lines in AAN.csv: 840
Number of lines in ADRT.csv: 537
Number of lines in AAME.csv: 11103
Number of lines in ABIO.csv: 6704
Number of lines in ACGLO.csv: 1663
Number of lines in ADSE.csv: 770
Number of lines in ACTG.csv: 5358
Number of lines in AAL.csv: 4658
Number of lines in ACMR.csv: 1611
Number of lines in ACABU.csv: 554
Number of lines in ABLLL.csv: 87
Number of lines in ACCO.csv: 4686
Number of lines in AAON.csv: 7878
Number of lines in ACR.csv: 4567
Number of lines in ABEO.csv: 10973
Number of lines in ACGLN.csv: 711
Number of lines in ACRV.csv: 344
Number of lines in ADAG.csv: 790
Number of lines in ADAP.csv: 2241
Number of lines in ADP.csv: 11103
Number of lines in ADTHW.csv: 2
Number of lines in ABUS.csv: 4199
Number of lines in ABAT.csv: 2039
Number of lines in ADNWW.csv: 2
Number of lines in ACHL.csv: 755
Number of lines in ADD.csv: 3871
Number of lines in ABLV.csv: 144
Number of lines in AACIU.csv: 661
Number of lines in ABVX.csv: 111
Number of lines in AB.csv: 9061
Number of lines in ACST.csv: 3056
Number of lines in AAPL.csv: 10915
Number of lines in AC.csv: 2110
Number of lines in AAGR.csv: 625
Number of lines in AADI.csv: 1539
Number of lines in ABTS.csv: 2510
Number of lines in AA.csv: 15668
Number of lines in ADC.csv: 7542
Number of lines in ADT.csv: 1559
Number of lines in ACRS.csv: 2135
Number of lines in ADMA.csv: 2630
Number of lines in ACEL.csv: 1660
Number of lines in ACRE.csv: 3000
Number of lines in AACIW.csv: 2
Number of lines in ABCL.csv: 829
Total number of line items in all CSV files: 410809

In [23]:
# Set the directory where your CSV files are located
folder_path = '/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone/archive/Data/StockHistory'

# Initialize an empty list to store dataframes
dfs = []

# Iterate through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        # Extract the stock symbol from the file name
        stock_symbol = os.path.splitext(file_name)[0]
        
        # Load the CSV file into a dataframe
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        
        # Add a new column 'stock_symbol' with the stock symbol
        df['stock_symbol'] = stock_symbol
        
        # Append the dataframe to the list
        dfs.append(df)
        progress_bar.update(1)

# Concatenate all dataframes together
concatenated_df = pd.concat(dfs, ignore_index=True)

# save concatenated dataframe
concatenated_df.to_csv('/Users/heatheradler/Documents/GitHub/Springboard/Springboard_Projects/Capstone/archive/Concated_Dataframe.csv')

In [41]:
#df= pd.read_csv(output_file, on_bad_lines='skip')

/var/folders/9q/j_dp7nx93lbc_t5zbbshxpch0000gn/T/ipykernel_39472/4239388331.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(output_file, on_bad_lines='skip')

In [32]:
concatenated_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,STOCHk_14_3_3,STOCHd_14_3_3,...,WILLR_14,ISA_9,ISB_26,ITS_9,IKS_26,ICS_26,OBV,AD,stock_symbol,Capital Gains
0,2016-01-08 00:00:00-05:00,6.590966,6.590966,6.574322,6.574322,10436,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.539523,10436.0,-10436.000000,RIV,NaN
1,2016-01-11 00:00:00-05:00,6.580984,6.614272,6.541039,6.541039,49700,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.689628,-39264.0,-60136.000000,RIV,NaN
2,2016-01-12 00:00:00-05:00,6.573993,6.573993,6.570664,6.570664,2377,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.732276,-36887.0,-62513.000000,RIV,NaN
3,2016-01-13 00:00:00-05:00,6.570664,6.570664,6.570664,6.570664,0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.695338,-36887.0,-62513.000000,RIV,NaN
4,2016-01-14 00:00:00-05:00,6.557675,6.667525,6.524388,6.570991,26142,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.769216,-10745.0,-71632.218733,RIV,NaN

In [30]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25681125 entries, 0 to 25681124
Data columns (total 43 columns):
 #   Column           Dtype
---  ------           -----
 0   Date             object
 1   Open             float64
 2   High             float64
 3   Low              float64
 4   Close            float64
 5   Volume           int64
 6   Dividends        float64
 7   Stock Splits     float64
 8   STOCHk_14_3_3    float64
 9   STOCHd_14_3_3    float64
 10  RSI_14           float64
 11  CMO_14           float64
 12  CCI_14_0.015     float64
 13  MACD_12_26_9     float64
 14  MACDh_12_26_9    float64
 15  MACDs_12_26_9    float64
 16  PPO_12_26_9      float64
 17  PPOh_12_26_9     float64
 18  PPOs_12_26_9     float64
 19  EMA_10           float64
 20  PSARl_0.02_0.2   float64
 21  PSARs_0.02_0.2   float64
 22  PSARaf_0.02_0.2  float64
 23  PSARr_0.02_0.2   int64
 24  ADX_14           float64
 25  DMP_14           float64
 26  DMN_14           float64
 27  BBL_5_2.0        float64
 28  BBM_5_2.0        float64
 29  BBU_5_2.0        float64
 30  BBB_5_2.0        float64
 31  BBP_5_2.0        float64
 32  FWMA_10          float64
 33  WILLR_14         float64
 34  ISA_9            float64
 35  ISB_26           float64
 36  ITS_9            float64
 37  IKS_26           float64
 38  ICS_26           float64
 39  OBV              float64
 40  AD               float64
 41  stock_symbol     object
 42  Capital Gains    float64
dtypes: float64(39), int64(2), object(2)
memory usage: 8.2+ GB

In [47]:
concatenated_df['Date'] = pd.to_datetime(concatenated_df['Date']).dt.date

In [48]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25681125 entries, 0 to 25681124
Data columns (total 43 columns):
 #   Column           Dtype
---  ------           -----
 0   Date             object
 1   Open             float64
 2   High             float64
 3   Low              float64
 4   Close            float64
 5   Volume           int64
 6   Dividends        float64
 7   Stock Splits     float64
 8   STOCHk_14_3_3    float64
 9   STOCHd_14_3_3    float64
 10  RSI_14           float64
 11  CMO_14           float64
 12  CCI_14_0.015     float64
 13  MACD_12_26_9     float64
 14  MACDh_12_26_9    float64
 15  MACDs_12_26_9    float64
 16  PPO_12_26_9      float64
 17  PPOh_12_26_9     float64
 18  PPOs_12_26_9     float64
 19  EMA_10           float64
 20  PSARl_0.02_0.2   float64
 21  PSARs_0.02_0.2   float64
 22  PSARaf_0.02_0.2  float64
 23  PSARr_0.02_0.2   int64
 24  ADX_14           float64
 25  DMP_14           float64
 26  DMN_14           float64
 27  BBL_5_2.0        float64
 28  BBM_5_2.0        float64
 29  BBU_5_2.0        float64
 30  BBB_5_2.0        float64
 31  BBP_5_2.0        float64
 32  FWMA_10          float64
 33  WILLR_14         float64
 34  ISA_9            float64
 35  ISB_26           float64
 36  ITS_9            float64
 37  IKS_26           float64
 38  ICS_26           float64
 39  OBV              float64
 40  AD               float64
 41  stock_symbol     object
 42  Capital Gains    float64
dtypes: float64(39), int64(2), object(2)
memory usage: 8.2+ GB

In [49]:
concatenated_df['Date']

0           2016-01-08
1           2016-01-11
2           2016-01-12
3           2016-01-13
4           2016-01-14
               ...
25681120    2024-03-22
25681121    2024-03-25
25681122    2024-03-26
25681123    2024-03-27
25681124    2024-03-28
Name: Date, Length: 25681125, dtype: object

In [50]:
concatenated_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,STOCHk_14_3_3,STOCHd_14_3_3,...,WILLR_14,ISA_9,ISB_26,ITS_9,IKS_26,ICS_26,OBV,AD,stock_symbol,Capital Gains
0,2016-01-08,6.590966,6.590966,6.574322,6.574322,10436,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.539523,10436.0,-1.043600e+04,RIV,NaN
1,2016-01-11,6.580984,6.614272,6.541039,6.541039,49700,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.689628,-39264.0,-6.013600e+04,RIV,NaN
2,2016-01-12,6.573993,6.573993,6.570664,6.570664,2377,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.732276,-36887.0,-6.251300e+04,RIV,NaN
3,2016-01-13,6.570664,6.570664,6.570664,6.570664,0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.695338,-36887.0,-6.251300e+04,RIV,NaN
4,2016-01-14,6.557675,6.667525,6.524388,6.570991,26142,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.769216,-10745.0,-7.163222e+04,RIV,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25681120,2024-03-22,10.800000,10.800000,10.790000,10.800000,265100,0.0,0.0,0.355462,0.158171,...,-99.290764,10.9225,10.745,11.495,11.495,NaN,9077500.0,1.256519e+06,IVCP,NaN
25681121,2024-03-25,10.790000,10.800000,10.790000,10.800000,8800,0.0,0.0,0.591874,0.355462,...,-99.290764,10.9225,10.745,11.495,11.495,NaN,9077500.0,1.265319e+06,IVCP,NaN
25681122,2024-03-26,10.800000,10.800000,10.800000,10.800000,3100,0.0,0.0,0.709236,0.552191,...,-99.290764,10.8925,10.775,10.875,11.495,NaN,9077500.0,1.265319e+06,IVCP,NaN
25681123,2024-03-27,10.820000,10.820000,10.790000,10.790000,400,0.0,0.0,0.472824,0.591312,...,-100.000000,10.8925,10.785,10.875,11.495,NaN,9077100.0,1.264919e+06,IVCP,NaN
25681124,2024-03-28,10.790000,10.790000,10.790000,10.790000,200,0.0,0.0,0.236412,0.472824,...,-100.000000,10.9075,10.815,10.835,11.495,NaN,9077100.0,1.264919e+06,IVCP,NaN

In [53]:
concatenated_df['stock_symbol'].value_counts()

stock_symbol
HON      15667
IP       15667
KO       15667
ED       15667
BP       15667
         ...
BETRW        1
HTZWW        1
THCPW        1
TCBPW        1
RVMDW        1
Name: count, Length: 6801, dtype: int64